@import "../../styles/theme.scss";


.form {
  z-index: 1;
  width: 30rem;
  height: 24rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  height: 5rem;
  width: 100%;
  font-family: $PtRoot;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.forgotNoteWrapper {
  font-family: $PtRoot;
  width: 20rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  .forgotNoteLine {
    font-weight: bold;
    line-height: 1.2rem;
  }
}

.actionButtonWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.actionButton {
  width: 20rem;
  height: 3rem;
}

.signUpButtonClassProp {
  z-index: 3;
  background-color: #4176bd;
  font-size: 1rem;
}


.checkBoxLine {
  width: 20rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.rememberMeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $formFieldGreyColor;
  font-family: $PtRoot;
}

.resultSVG {
  width: 10rem;
  height: 10rem;
  background: url(assets/signUpPage/thanks.svg) no-repeat center;
}

.resultTextWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .textSmall {
    font-family: $PtRoot;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .boldEmail {
    font-weight: 600;
  }
}

.hoverClass {
  transition: $hoverTransition;
  cursor: pointer;
}

.hoverClass:hover {
  color: $formFieldGreyHoverColor;
}
