.langModDropDown {
  position: fixed;
  width: 10rem;
  height: 4rem;
  bottom: 0;
  right: 4vw;
  background-color: #f2f2f2;
}

.headClassName {
  background-color: #f2f2f2;

}

.listClass {
  background-color: #f2f2f2 !important;
}