$PlexFamily: 'IBM';
$PtRoot: 'PT-Root-UI';


$maxPageWidth: 1700px;

$blueLinearBackground: linear-gradient(180deg, #317CC0 -1.78%, #3C99DE 99.11%);
$blueBtnColor: rgb(3, 106, 175) !important;
$darkBlueBtnColor: rgb(38, 36, 93) !important;

$formFieldGreyColor: #b8b8c8;

$hoverTransition: .5s;
$formFieldGreyHoverColor: #333333;


$formFieldErrorColor: #F2994A;


$greenText: rgb(55, 177, 152);
$blueText: rgb(0, 203, 255);

$formFieldWidth: 20rem;


$transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);


$inactiveTextColor: #b8b8c8;
$activeTextColor: black;


$tutorPageLeftMargin: 10vw;

$tutorPageWidthBreakPiont1: 1100px;

$formFieldsHeight: 1.3rem
