@import "../../../styles/theme";
@import "../../../styles/mixins";

.btnWrap {
  width: 5rem;
  height: 1.5rem;
}

.text {
  color: black;
  font-size: 2rem;
}

.header {
  justify-content: center;
  // padding: 2rem 2rem 1rem 2rem;
}

.buttonOk {
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.buttonCancel {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;

}

.buttonsPanel {
  margin-top: 1.6em;
  display: flex;
  justify-content: flex-start;
  .button:not(:last-child) {
    margin-right: 1rem;
  }
}
