@import "../../styles/theme.scss";
@import "../../styles/mixins.scss";

.pageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentWrapper {
  width: 100%;
  max-width: $maxPageWidth;
}